body {
  background-color: #f4f6ff;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 500px;
  
  align-items: center;
  justify-content: center;
}

.chat .messages {
  height: 450px;
  max-height: 450px;
}

.send {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.send input {
  height: 35px;
  font-size: 18px;
  padding-left: 10px;
  width: 400px;
  max-width: 390px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.send input:focus {
  outline: none;
}

.send button {
  max-width: 80px;
  width: 80px;
  background-color: #127681;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  border-width: 1px;
}

.send button:focus {
  outline: none;
}
